

/* a comment*/
#head {
    text-align: center;
}
#box0 {
    border-style: solid;
    border-width:5px;
    border-color: black;
    background-color: #2196F3;
}
#box0:hover, #box1:hover, #box2:hover, 
#box3:hover, #box4:hover, #box5:hover, 
#box6:hover, #box7:hover, #box8:hover{
    background-color: black;

}

#box1 {
    border-style: solid;
    border-width:5px;
    border-color: black;
    background-color: #2196F3;
}

#box2 {
    border-style: solid;
    border-width:5px;
    border-color: black;
    background-color: #2196F3;
}

#box3 {
    border-style: solid;
    border-width:5px;
    border-color: black;
    background-color: #2196F3;
}

#box4 {
    border-style: solid;
    border-width:5px;
    border-color: black;
    background-color: #2196F3;
}

#box5 {
    border-style: solid;
    border-width:5px;
    border-color: black;
    background-color: #2196F3;
}

#box6 {
    border-style: solid;
    border-width:5px;
    border-color: black;
    background-color: #2196F3;
}

#box7 {
    border-style: solid;
    border-width:5px;
    border-color: black;
    background-color: #2196F3;
}

#box8 {
    border-style: solid;
    border-width:5px;
    border-color: black;
    background-color: #2196F3;
}

div {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
  }

#target {
    display: inline-grid;
    background: blue;
    background-color: black;
    width: 500px;
    height: 500px;
    margin-left: 30%;
}

#player1, #player2 {
    text-align: left;
    margin-top: -2.5%;
}

